
//rules for: Open Sans
%baseline_undefined_12px_16px {
  margin: 0 0 -3px;
  padding: 3px 0 0;
  font-size: 12px;
  line-height: 16px;
}

%baseline_undefined_14px_16px {
  margin: 0 0 -2px;
  padding: 2px 0 0;
  font-size: 14px;
  line-height: 16px;
}

%baseline_undefined_16px_32px {
  margin: -6px 0 0;
  padding: 0 0 6px;
  font-size: 16px;
  line-height: 32px;
}

%baseline_undefined_18px_32px {
  margin: -7px 0 0;
  padding: 0 0 7px;
  font-size: 18px;
  line-height: 32px;
}

%baseline_undefined_20px_32px {
  margin: -8px 0 0;
  padding: 0 0 8px;
  font-size: 20px;
  line-height: 32px;
}

%baseline_undefined_20px_64px {
  margin: 0 0 -8px;
  padding: 8px 0 0;
  font-size: 20px;
  line-height: 64px;
}

%baseline_undefined_24px_32px {
  margin: -10px 0 0;
  padding: 0 0 10px;
  font-size: 24px;
  line-height: 32px;
}

%baseline_undefined_24px_64px {
  margin: 0 0 -6px;
  padding: 6px 0 0;
  font-size: 24px;
  line-height: 64px;
}

%baseline_undefined_32px_64px {
  margin: 0 0 -3px;
  padding: 3px 0 0;
  font-size: 32px;
  line-height: 64px;
}

%baseline_undefined_40px_64px {
  margin: 0px 0 0;
  padding: 0 0 0px;
  font-size: 40px;
  line-height: 64px;
}

%baseline_undefined_48px_64px {
  margin: -3px 0 0;
  padding: 0 0 3px;
  font-size: 48px;
  line-height: 64px;
}

%baseline_undefined_56px_64px {
  margin: -6px 0 0;
  padding: 0 0 6px;
  font-size: 56px;
  line-height: 64px;
}

%baseline_undefined_64px_64px {
  margin: -9px 0 0;
  padding: 0 0 9px;
  font-size: 64px;
  line-height: 64px;
}
